/bin/

# Eclipse created folders and files #
######################################
.project
.classpath
.settings/

# IntelliJ created folders and files #
######################################
*.iml
*.eml
.idea/

# Build process #
#################
/build/
build.xml